.jumbotron {
  background-image: url(https://i.imgflip.com/2cewyg.jpg);
  background-position: 0% 1%;
  background-size: cover;
  height: 400px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  text-align: center;
}

.player-two {
  display: none;
}

#dice {
  display:none;
}

.pig {
  display: none;
}

.pigpic {
  height: 500px
}

body {
  background-color: #ededed;
}

.piglet1img, .piglet2img {
  width: 100%;
}
.piglet2img {
  float: right;
}

.start-game {
  margin-left: 45%;
  margin-right: 45%;
  padding: 10px;
}
